<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'ajout de contrat</title>
</head>
<body>
    <div>
        <h1>Formulaire d'ajout de contrat</h1>
        <form action="/contrat/add" method="post">
            <div> <!--transformer en liste déroulante -->
                <label for="etudiant">Nom de l'étudiant :</label>
                <select name="etudiant" required>
                    <option value="">Séléctionnez un étudiant</option>
                    {% for etudiant in etudiants %}
                        <option value="{{ etudiant.ID_Etudiant }}">{{ etudiant.ID_Etudiant }} {{ etudiant.Nom }} {{ etudiant.Prenom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div> <!--transformer en liste déroulante -->
                <label for="velo">id du velo :</label>
                <select name="velo" required>
                    <option value="">Séléctionnez un velo</option>
                    {% for velo in velos %}
                        <option value="{{ velo.ID_Velo }}">{{ velo.ID_Velo }} {{ velo.Libelle_Modele }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="date_debut">date de début du contrat</label>
                <input type="date" id="date_debut" placeholder="Entrez la date de debut de location" required name="date_debut">
            </div>
            <div>
                <label for="duree">durée du contrat</label>
                <input type="text" id="duree" placeholder="Entrez la duree du contrat" required name="duree">
            </div>
            <div>
                <label for="tarif">tarif du contrat</label>
                <input type="number" step="0.01" placeholder="Entrez le tarif du contrat" required name="tarif">
            </div>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</body>
</html>