<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" >
    <title>Tableau Contrats</title>
</head>
<body>

    {% extends 'layout.html' %}

    {% block title %}
        <title>afficher les contrats</title>
    {% endblock %}

    {% block body %}
    <h3>Contrats</h3>
    <a href="/contrat/add">ajouter un contrat</a>
    <br><br>

     {% if contrats | length >= 1 %}
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">id_contrat</th>
                <th scope="col">id_etudiant</th>
                <th scope="col">id_velo</th>
                <th scope="col">date_debut_contrat</th>
                <th scope="col">duree_location</th>
                <th scope="col">tarif</th>
                <th scope="col">Edition</th>
              </tr>
            </thead>
            {% for contrat in contrats %}
                <tr>
                    <th scope="row">{{ contrat.ID_Contrat }}</th>
                    <td>{{ contrat.ID_Etudiant }}</td>
                    <td>{{ contrat.ID_Velo }}</td>
                    <td>{{ contrat.AAAA_MM_JJ }}</td>
                    <td>{{ contrat.Duree_location }}</td>
                    <td>{{ contrat.Tarif }}</td>
                    <td>
                        <a href="/contrat/edit?id={{ contrat.ID_Contrat }}" type="button" class="btn btn-warning">editer</a>
                        <a href="/contrat/delete?id={{ contrat.ID_Contrat }}" type="button" class="btn btn-danger">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> la liste des types est vide </h2>
    {% endif %}

    {% endblock %}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

</body>
</html>