<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" >
    <title>Tableau Contrats</title>
</head>
<body>

    {% extends 'layout.html' %}

    {% block title %}
        <title>afficher les contrats</title>
    {% endblock %}

    {% block body %}
    <h3>Contrats</h3>
    <a class="btn btn-success" href="/contrat/add">ajouter un contrat</a>
    <br><br><br>

         {% if contrats | length >= 1 %}
             <div class="tableau overflow-hidden">
                <table class="table table-dark table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id_contrat</th>
                        <th scope="col">etudiant</th>
                        <th scope="col">velo</th>
                        <th scope="col">debut_contrat</th>
                        <th scope="col">duree_location</th>
                        <th scope="col">tarif</th>
                        <th scope="col">Edition</th>
                      </tr>
                    </thead>
                    {% for contrat in contrats %}
                        <tr>
                            <th scope="row">{{ contrat.ID_Contrat }}</th>
                            <td>id {{ contrat.ID_Etudiant }} {{ contrat.Nom }}</td>
                            <td>id {{ contrat.ID_Velo }} {{ contrat.Libelle_Modele }}</td>
                            <td>{{ contrat.AAAA_MM_JJ }}</td>
                            <td>{{ contrat.Duree_location }} jour{% if contrat.Duree_location > 1 %}s{% endif %}</td>
                            <td>{{ contrat.Tarif }}</td>
                            <td>
                                <a href="/contrat/edit?id={{ contrat.ID_Contrat }}" type="button" class="btn btn-warning">editer</a>
                                <a href="/contrat/delete?id={{ contrat.ID_Contrat }}" type="button" class="btn btn-danger">supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
             </div>

        {% else %}
            <h2> la liste des types est vide </h2>
        {% endif %}

        <div style="display: flex ; align-items: flex-end ; flex-direction: row-reverse ; margin: 1%">
            <div style="display: flex ; gap: 10px ; align-items: flex-start ; flex-direction: column ; width: 45%">
                <a class="footer-message alert alert-info text-center"> La marque la plus demandée ce mois-ci est {{ marque[0].Libelle_Marque }} avec {{ marque[0].nbmLoue }} location{% if marque[0].nbmLoue > 1 %}s{% endif %}</a>
                <a class="footer-message alert alert-info text-center"> La marque la plus demandée le mois dernier était {{ moisDernier[0].Libelle_Marque }} avec {{ moisDernier[0].nbmLoue }} location{% if moisDernier[0].nbmLoue > 1 %}s{% endif %}</a>
            </div>

            <form style="display: flex ; align-items: center ; flex-direction: column ; margin: 1% ; background-color: #212529 ; color: white ; width: 50% ; padding: 1%" action="/contrat/show" method="post">
                <div style="margin: 1%">
                    <label for="etudiant">Nom de l'etudiant</label>
                    <input type="text" size="15" id="etudiant" value="{{ valeurs.etudiant }}" name="etudiant">
                </div>
                <div style="margin: 1%">
                    <label for="velo">Nom du modele du velo</label>
                    <input type="text" size="15" id="velo" value="{{ valeurs.velo }}" name="velo">
                </div>

                <div style="margin: 1% ; display: flex ; align-items: center ; flex-direction: row">
                    <div>
                        <label for="date_debut_min">Date entre</label>
                        <input type="date" id="date_debut_min" required value="{{ valeurs.minDate }}" name="date_debut_min">
                    </div>
                    <div>
                        <label for="date_debut_max">et</label>
                        <input type="date" id="date_debut_max" required value="{{ valeurs.maxDate }}" name="date_debut_max">
                    </div>
                </div>

                <div style="margin: 1% ; display: flex ; align-items: center ; flex-direction: row">
                    <div>
                        <label for="duree_min">Duree entre</label>
                        <input type="number" size="2" id="duree_min" required value="{{ valeurs.minDuree }}" name="duree_min">
                    </div>
                    <div>
                        <label for="duree_max">jours et</label>
                        <input type="number" size="2" id="duree_max" required value="{{ valeurs.maxDuree }}" name="duree_max">
                    </div>
                    <a>jours</a>
                </div>

                <div style="margin: 1% ; display: flex ; align-items: center ; flex-direction: row">
                    <div>
                        <label for="tarif_min">Tarif entre</label>
                        <input type="number" size="5" step="0.01" id="tarif_min" required value="{{ valeurs.minTarif }}" name="tarif_min">
                    </div>
                    <div>
                        <label for="tarif_max">€ et</label>
                        <input type="number" size="5" step="0.01" id="tarif_max" required value="{{ valeurs.maxTarif }}" name="tarif_max">
                    </div>
                    <a>€</a>
                </div>

                <button style="margin: 1% ; height: 40px" class="btn btn-secondary" type="submit">Filtrer</button>
            </form>
        </div>



        <a>{{ nombreTrouve.nbrElement }} élément{% if nombreTrouve.nbrElement > 1 %}s{% endif %} trouvé{% if nombreTrouve.nbrElement > 1 %}s{% endif %}</a>

        {% if filters | length >= 1 %}
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">id_contrat</th>
                    <th scope="col">etudiant</th>
                    <th scope="col">velo</th>
                    <th scope="col">debut_contrat</th>
                    <th scope="col">duree_location</th>
                    <th scope="col">tarif</th>
                  </tr>
                </thead>
                {% for filter in filters %}
                    <tr>
                        <td>{{ filter.ID_Contrat }}</td>
                        <td>id {{ filter.ID_Etudiant }} {{ filter.Nom }}</td>
                        <td>id {{ filter.ID_Velo }} {{ filter.Libelle_Modele }}</td>
                        <td>{{ filter.AAAA_MM_JJ }}</td>
                        <td>{{ filter.Duree_location }} jour{% if filter.Duree_location > 1 %}s{% endif %}</td>
                        <td>{{ filter.Tarif }}</td>
                    </tr>
                {% endfor %}
            </table>
        <!--{% else %}
            <h2> la liste des types est vide </h2>-->
        {% endif %}



    {% endblock %}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

</body>
</html>