<!doctype html>
<html lang="fr">

<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}layout{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/klippan.png') }}" >
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" >
    {% endblock %}
</head>

<body>
{% include('_nav.html') %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for categorie, message in messages %}
    <div role="alert" class="alert {{ categorie }}">
           Information : <strong>{{ message }}</strong>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

{% block body %}
    <h1>Vélo Campus</h1>
    <br>
    <h2>Groupe SAE : 15 | Groupe TP : B2</h2>
    <br>
    <h3>Ethan KOPERECZ | Mathis LABBE | Valentin MICHEL | Thomas MILLON</h3>
    <br>
    <a href="/Velo/show"        class="btn btn-secondary btn-lg"> Vélo (Ethan.K) </a>
    <a href="/reparation/show"  class="btn btn-secondary btn-lg"> Réparation (Mathis.L)</a>
    <a href="/modele/show"      class="btn btn-secondary btn-lg"> Modele (Valentin.M)</a>
    <a href="/contrat/show"     class="btn btn-secondary btn-lg"> Loue/Contrat (Thomas.M)</a>
{% endblock %}

{% block javascripts %}
    {#<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>#}
{% endblock %}
</body>
</html>
