{% extends 'layout.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

{% block title %}
    Tableau Réparations
{% endblock %}

{% block body %}
    <h3>Table des réparations</h3>
    <a class="btn btn-success" href="/reparation/add">Ajouter une réparation</a>
    <br><br><br>

    <form style="display: flex ; align-items: center ; margin: auto" method="get" action="/reparation/show">
        <div style="margin: 1%">
            <label class="form-label" for="filtre_modele">Modèle :</label>
            <input class="form-control" type="text" id="filtre_modele" name="filtre_modele" value="{{ filtres.filtre_modele }}">
        </div>
        <div style="margin: 1%">
            <label class="form-label" for="filtre_date_min">Date minimale :</label>
            <input class="form-control" type="date" id="filtre_date_min" name="filtre_date_min" value="{{ filtres.filtre_date_min }}">
        </div>
        <div style="margin: 1%">
            <label class="form-label" for="filtre_date_max">Date maximale :</label>
            <input class="form-control" type="date" id="filtre_date_max" name="filtre_date_max" value="{{ filtres.filtre_date_max }}">
        </div>
        <div style="margin: 1%">
            <label class="form-label" for="filtre_prix_min">Prix minimum :</label>
            <input class="form-control" type="number" id="filtre_prix_min" name="filtre_prix_min" value="{{ filtres.filtre_prix_min }}">
        </div>
        <div style="margin: 1%">
            <label class="form-label" for="filtre_prix_max">Prix maximum :</label>
            <input class="form-control" type="number" id="filtre_prix_max" name="filtre_prix_max" value="{{ filtres.filtre_prix_max }}">
        </div>
        <input style="margin: 1% ; height: 50px" class="btn btn-secondary" type="submit" value="Filtre" name="Filtre">
        <a href="/reparation/show" class="btn btn-danger" style="height: 50px; margin: 1%; display: flex; align-items: center">Annuler</a>
    </form>

    <br>

    <div class="tableau overflow-hidden">
        <table class="table table-dark table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Id_reparation</th>
                <th>Prix_total</th>
                <th>Date_reparation</th>
                <th>Id_velo / Modèle</th>
                <th>Id_type_reparation</th>
                <th>Opération</th>
            </tr>
            </thead>
            <tbody>
            {% if reparations | length >= 1 %}
                {% for reparation in reparations %}
                    <tr>
                        <th>{{ reparation.ID_Reparation }}</th>
                        <td>{{ reparation.Prix_Total }} €</td>
                        <td>{{ reparation.Date_Reparation }}</td>
                        <td class="btn-group-toggle" data-toggle="buttons">
                            <div class="btn btn-secondary active">
                                {{ reparation.ID_Velo }}
                            </div>
                            <div class="btn btn-secondary">
                                {{ reparation.Libelle_Modele }}
                            </div>
                        </td>
                        <td class="btn-group-toggle" data-toggle="buttons">
                            <div class="btn btn-light active">
                                {{ reparation.ID_Type }}
                            </div>
                            <div class="btn btn-light">
                                {{ reparation.Libelle_Type }}
                            </div>
                        </td>
                        <td>
                            <a href="/reparation/edit?id=   {{ reparation.ID_Reparation }}" type="button" class="btn btn-warning"> editer    </a>
                            <a href="/reparation/delete?id= {{ reparation.ID_Reparation }}" type="button" class="btn btn-danger" > supprimer </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        Pas de réparation
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="footer-message alert alert-info text-center">
        {% if modele %}
            <p>Le modèle <b>{{ modele.Libelle_Modele }}</b> a le plus de réparations avec <b>{{ modele.Nombre_Reparations }} interventions</b>.</p>
        {% else %}
            <p>Aucune réparation enregistrée pour l'instant.</p>
        {% endif %}
    </div>
    <br>
    <div class="footer-message alert alert-info text-center">
        {% if prix_moyen is not none %}
            <p>En <b>moyenne</b>, une réparation coûte : <b>{{ prix_moyen['Prix_Moyen'] }} €</b></p>
        {% else %}
            <p>Aucune réparation enregistrée pour calculer le prix moyen.</p>
        {% endif %}
    </div>
    <br>
    <div class="footer-message alert alert-info text-center">
        {% if modele %}
            <p>Le modèle <b>{{ prix_cher.Libelle_Modele }}</b> coûte le plus cher en réparation et coûte <b>{{ prix_cher.Prix }} €</b> en moyenne.</p>
        {% else %}
            <p>Aucune réparation enregistrée pour l'instant.</p>
        {% endif %}
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
